Repository wd-David/fastify-esbuild: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, prettier --check, eslint

.lintstagedrc:

{
  "*.{js,ts,md,json}": [
    "prettier --write",
    "prettier --check"
  ],
  "src/**/*.{js,ts}": "eslint"
}

chore(release): 0.0.2
  CHANGELOG.md
  package.json
Due: prettier --write, prettier --check

docs(readme): add README.md
  README.md
Due: prettier --write, prettier --check

chore(release): 0.0.3
  CHANGELOG.md
  package.json
Due: prettier --write, prettier --check

feat(fastify-autoload): add fastify-autoload
  package.json
  pnpm-lock.yaml
  src/index.ts
  src/plugins/README.md
  src/plugins/sensible.ts
  src/plugins/support.ts
  src/routes/README.md
  src/routes/examples/index.ts
  src/routes/root.ts
Due: prettier --write, prettier --check, eslint

chore(release): 0.0.4
  CHANGELOG.md
  package.json
Due: prettier --write, prettier --check

chore(changelog): add build type in .versionrc
  .versionrc
Due: none

chore(release): 0.0.5
  CHANGELOG.md
  package.json
Due: prettier --write, prettier --check

chore(esbuild): remove resolve-extensions in build script
  package.json
Due: prettier --write, prettier --check

build(esbuild): add windows compatible build script
  build.js
  package.json
Due: prettier --write, prettier --check

chore(release): 0.0.6
  CHANGELOG.md
  package.json
Due: prettier --write, prettier --check

chore(dep): update dep
  package.json
  pnpm-lock.yaml
Due: prettier --write, prettier --check

chore(release): 0.0.7
  CHANGELOG.md
  package.json
Due: prettier --write, prettier --check

build(esbuild): remove minify flag
  build.js
  package.json
  pnpm-lock.yaml
  src/index.ts
  src/plugins/sensible.ts
  src/routes/bad-request/index.ts
Due: prettier --write, prettier --check, eslint

chore(release): 0.0.8
  CHANGELOG.md
  package.json
Due: prettier --write, prettier --check

docs: update README.md
  README.md
Due: prettier --write, prettier --check

chore(release): 0.0.9
  CHANGELOG.md
  package.json
Due: prettier --write, prettier --check

chore(logging): add pino-pretty to prettify logs
  package.json
  pnpm-lock.yaml
  src/index.ts
Due: prettier --write, prettier --check, eslint

chore(release): 0.0.10
  CHANGELOG.md
  package.json
Due: prettier --write, prettier --check

build: remove esbuild-node-tsc
  build.js
  nodemon.json
  package.json
  pnpm-lock.yaml
  src/routes/v1/bad-request/index.ts
  src/routes/v1/examples/index.ts
  src/routes/v2/examples/index.ts
Due: prettier --write, prettier --check, eslint

build: rename build.js to esbuild.js
  README.md
  esbuild.js
  package.json
Due: prettier --write, prettier --check

chore(release): 0.0.11
  CHANGELOG.md
  package.json
Due: prettier --write, prettier --check

chore: update tsconfig.json
  pnpm-lock.yaml
  tsconfig.json
Due: prettier --write, prettier --check

feat(posts): add posts route, add swagger
  package.json
  pnpm-lock.yaml
  src/plugins/swagger.ts
  src/routes/v1/posts/handler.ts
  src/routes/v1/posts/index.ts
  src/routes/v1/posts/posts.ts
  src/routes/v1/posts/schema.ts
Due: prettier --write, prettier --check, eslint

chore(release): 0.0.12
  CHANGELOG.md
  package.json
Due: prettier --write, prettier --check

feat: add Reply type in putPostsHandler and deletePostsHandler
  src/routes/v1/posts/handler.ts
Due: prettier --write, prettier --check, eslint

feat: add getOnePostHandler
  src/plugins/swagger.ts
  src/routes/v1/posts/handler.ts
  src/routes/v1/posts/index.ts
  src/routes/v1/posts/schema.ts
Due: prettier --write, prettier --check, eslint

build: bump to latest version
  package.json
  pnpm-lock.yaml
Due: prettier --write, prettier --check

chore(release): 0.0.13
  CHANGELOG.md
  package.json
Due: prettier --write, prettier --check

refactor: rename schemas
  src/routes/v1/posts/handler.ts
  src/routes/v1/posts/schema.ts
Due: prettier --write, prettier --check, eslint

chore(release): 0.0.14
  CHANGELOG.md
  package.json
Due: prettier --write, prettier --check

docs(thunder client): add thunder client testing collections
  thunder-collection_CRUD demo.json
Due: prettier --write, prettier --check

chore(release): 0.0.15
  CHANGELOG.md
  package.json
Due: prettier --write, prettier --check

Update README.md
  README.md
Due: prettier --write, prettier --check

chore: change import type syntax
  src/routes/v1/bad-request/index.ts
  src/routes/v1/examples/index.ts
  src/routes/v1/posts/handler.ts
  src/routes/v1/posts/index.ts
  src/routes/v1/posts/schema.ts
  src/routes/v2/examples/index.ts
Due: prettier --write, prettier --check, eslint

chore(release): 0.0.16
  CHANGELOG.md
  package.json
Due: prettier --write, prettier --check

chore: change import type syntax
  CHANGELOG.md
  package.json
  src/routes/v1/bad-request/index.ts
  src/routes/v1/examples/index.ts
  src/routes/v1/posts/handler.ts
  src/routes/v1/posts/index.ts
  src/routes/v1/posts/schema.ts
  src/routes/v2/examples/index.ts
Due: prettier --write, prettier --check, eslint

chore(release): 0.0.17
  CHANGELOG.md
  package.json
Due: prettier --write, prettier --check

fix: required shema typo
  src/routes/v1/posts/schema.ts
Due: prettier --write, prettier --check, eslint

chore: update fastify and refactor breaking changes in startup config fix: typo in posts schema for required
  package.json
  pnpm-lock.yaml
  src/index.ts
  src/routes/v1/posts/schema.ts
Due: prettier --write, prettier --check, eslint
