Repository wd-David/fastify-esbuild: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, prettier --check, eslint

.lintstagedrc:

{
  "*.{js,ts,md,json}": [
    "prettier --write",
    "prettier --check"
  ],
  "src/**/*.{js,ts}": "eslint"
}

docs(readme.md): add article
  README.md
Due: prettier --write, prettier --check

chore(commitizen): add .czrc to enable interactive mode
  .czrc
Due: none

fix(esbuild): fix production code cannot work issue
  esbuild.js
  nodemon.json
  package.json
  pnpm-lock.yaml
Due: prettier --write, prettier --check

chore(release): 0.1.0
  CHANGELOG.md
  package.json
Due: prettier --write, prettier --check

docs(readme.md): add article in README.md
  README.md
Due: prettier --write, prettier --check

build(esbuild): replace slash (or backslash) with path.sep
  esbuild.js
Due: prettier --write, prettier --check

build(esbuild): add esbuild-plugin-pino to build script
  esbuild.js
  package.json
  pnpm-lock.yaml
Due: prettier --write, prettier --check

build: bump packages to latest version
  package.json
  pnpm-lock.yaml
Due: prettier --write, prettier --check

chore: add release:patch in scripts
  package.json
Due: prettier --write, prettier --check

chore(release): 0.1.1
  CHANGELOG.md
  package.json
Due: prettier --write, prettier --check

chore(renovate): change schedule to execute once a week
  renovate.json
Due: prettier --write, prettier --check

feat(tsx): replace nodemon with tsx
  dev.ts
  esbuild.js
  package.json
  pnpm-lock.yaml
  src/index.ts
  tsconfig.json
Due: prettier --write, prettier --check, eslint

ci(renovate): configure automerge
  renovate.json
Due: prettier --write, prettier --check

style(prettier): formatting
  package.json
Due: prettier --write, prettier --check

fix(plugins\sensible.ts): dropped custom errorHandler option in @fastify/sensible registration
  src/plugins/sensible.ts
Due: prettier --write, prettier --check, eslint

fix(plugins\sensible.ts): dropped custom errorHandler option in @fastify/sensible registration (#14)
  src/plugins/sensible.ts
Due: prettier --write, prettier --check, eslint

fix: replace tsx with nodemon in dev
  package.json
Due: prettier --write, prettier --check

fix: remove unused var
  src/plugins/sensible.ts
  src/plugins/support.ts
  src/plugins/swagger.ts
  src/routes/root.ts
Due: prettier --write, prettier --check, eslint

feat: replace nodemon with tsx
  esbuild.js
  esbuild.ts
  nodemon.json
  package.json
  pnpm-lock.yaml
Due: prettier --write, prettier --check

docs: update README.md
  README.md
Due: prettier --write, prettier --check

fix: remove dev.ts
  dev.ts
Due: prettier --write, prettier --check

chore(release): 0.1.2
  CHANGELOG.md
  package.json
Due: prettier --write, prettier --check

ci(renovate): update renovate.json to separate automerge strategy
  renovate.json
Due: prettier --write, prettier --check

build(dep): bumped pino-pretty from 8.1.0 to 9.0.1
  package.json
  pnpm-lock.yaml
Due: prettier --write, prettier --check

build: remove commitizen & husky
  .czrc
  .husky/commit-msg
  .husky/pre-commit
  README.md
  commitlint.config.js
  package.json
  pnpm-lock.yaml
Due: prettier --write, prettier --check

ci: add script to run formatting & linting
  package.json
Due: prettier --write, prettier --check

ci: remove commitizen & husky (#49)
  .czrc
  .husky/commit-msg
  .husky/pre-commit
  README.md
  commitlint.config.js
  package.json
  pnpm-lock.yaml
Due: prettier --write, prettier --check

feat: add fastify swagger ui to prod
  .lintstagedrc
  esbuild.ts
  package.json
  pnpm-lock.yaml
  src/plugins/sensible.ts
  src/plugins/swagger.ts
Due: prettier --write, prettier --check, eslint

doc: update README.md
  README.md
Due: prettier --write, prettier --check

feat: add @fastify/swagger-ui and build for prod (#50)
  .lintstagedrc
  README.md
  esbuild.ts
  package.json
  pnpm-lock.yaml
  src/plugins/sensible.ts
  src/plugins/swagger.ts
Due: prettier --write, prettier --check, eslint

doc: format README.md
  README.md
Due: prettier --write, prettier --check

chore(release): 0.2.0
  CHANGELOG.md
  package.json
Due: prettier --write, prettier --check

chore: remove renovate & update README.md
  README.md
  renovate.json
Due: prettier --write, prettier --check

chore: remove renovate & update README.md (#63)
  README.md
  renovate.json
Due: prettier --write, prettier --check
